
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Darumadrop+One&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&family=Rubik+Dirt&display=swap');
@import "tailwindcss";

.nav-item{
  @apply px-5  rounded-2xl py-2 
}
.sidebar-item{
  @apply rounded-full   font-medium hover:bg-black hover:text-white px-6 mr-3 ml-1   sm:mx-6 py-3 
}

.hover-blackbtn{
  @apply hover:bg-white  hover:text-black  duration-300
}
.hover-whitebtn{
  @apply hover:bg-black hover:text-white transition-all duration-300
}
.hover-navlink{
  @apply hover:text-black font-bold
}
.section-title{
@apply text-3xl font-bold lg:text-4xl
}
.section-title-secondary{
@apply text-lg font-bold leading-5 sm:leading-7 lg:text-3xl
}
.section-title-tertiary{
@apply text-xl font-bold lg:text-3xl
}
.section-subtitle{
@apply text-2xl font-bold lg:text-3xl leading-7 
}
.section-textcontainer{
 @apply text-center pt-12 lg:pt-16  pb-6 lg:space-y-6 lg:pb-12
}

.btn-primary {
  @apply bg-black text-white font-bold rounded-full  px-8 p-3 lg:py-2 lg:px-6
}
.btn-secondary {
  @apply  bg-white text-black font-bold rounded-full  px-8 p-3 lg:py-2 lg:px-6
}

@theme{
  
  --font-inter: "Inter","sans-serif";
  --font-anton: "Anton","sans-serif";
  --font-darum: "Darumadrop One",sans-serif;
  --font-playfair: "Playfair Display",sans-serif;
  --font-oswald: "Oswald","sans-serif";
  --font-karla: "Karla";
  --font-rubik: "Rubik Dirt";
}
